<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Stockpick.Forms.AzureQueue.Connectionstring" value="DefaultEndpointsProtocol=https;AccountName=xxx;AccountKey=aaaaa;EndpointSuffix=core.windows.net"/>
      <setting name="Stockpick.Forms.KeyFault.ClientId" value="theclientid"/>
      <setting name="Stockpick.Forms.KeyFault.ClientSecret" value="theclientsecret"/>
      <setting name="Stockpick.Forms.KeyFault.Key.URL" value="https://xxxname.vault.azure.net/keys/sitecoreformupload"/>
    </settings>
  </sitecore>
</configuration>